# タイムゾーン
TZ=Asia/Tokyo

# PostgreSQL 設定値
POSTGRES_DB=coursenavigator
POSTGRES_USER=admin
POSTGRES_PASSWORD=secure_password_please_change

# Neo4j 設定値 (フォーマット: ユーザー名/パスワード)
NEO4J_AUTH=neo4j/secure_password_please_change
